
@{
    ViewBag.Title = "WeatherJS";
}

<h2>What's in the Fridge?</h2>
Choose your Ingredient!

<ul id="list">

</ul>
<p id="test"></p>
<p id="test2"></p>
    <input type="text" name='label' id="label">
    <button onClick="getSearchResult()">Submit</button>


<script>
    function getSearchResult() {
        var search = document.getElementById("label").value;
        console.log("https://api.edamam.com/search?q=" + search + "&app_id=a4e57804&app_key=5cd9b1cf4de086d7718f9f95c16ccdb7");
            jQuery.getJSON("https://api.edamam.com/search?q=" + search + "&app_id=a4e57804&app_key=5cd9b1cf4de086d7718f9f95c16ccdb7", function (data, textStatus, jqXHR) {
                for (let i = 0; i < data.hits.length; i++) {
                  let listItem = document.createElement('li');
                    let a = document.createElement("a");
                   a.textContent = data.hits[i].recipe.label;
                   a.setAttribute('href', data.hits[i].recipe.url);
                    listItem.appendChild(a);

                    let img = document.createElement('img');
                    img.setAttribute('src', data.hits[i].recipe.image);
                    listItem.appendChild(img)
                   // listItem.append(<a '<img src=" + data.hits[i].recipe.image + "'></a>);
                  // listItem.appendChild(document.createTextNode(data.hits[i].recipe.label));
                    document.getElementById('list').appendChild(listItem);
                               }
            })
                .done;
        
       
    };
</script>


